
<div class="card">
  <h3 class="card-header">Add New Gig</h3>
  <div class="card-body">

<%= render 'form', gig: @gig %>

 </div>
</div>
<br/>
<%= link_to 'Back', gigs_path, class:"btn btn-outline-info my-2 my-sm-0" %>
